/* Laptop */
@media only screen 
and (max-width: 1500px){
    /* HEADER */
    header {
        padding: 0;
        margin: 0;
        background-size: cover;
    }

    .showcase {
        font-size: 40px;
    }

    .container-b {
        padding: 35vh 0;
    }

    /* Projetos*/
    #projetos {
        width: 970px;
    }

    .box img:hover {
        transform: scale(1.1);
    }

    /* SOBRE */
    .about {
        width: 1000px;
    }

    .about h1 {
        padding: 50px 120px 20px 100px;
        font-size: 44px;
    }

    .content {
        width: 1000px;
    }

    .content p {
        padding: 0px 100px;
        font-size: 18px;
    }

    .border-left {
        width: 900px;
    }
    
    .border-right {
        width: 900px;
    }

    .border-left:after {
        border-bottom: 7px solid rgb(238, 202, 0);
        border-left: 7px solid rgb(238, 202, 0);
        border-top: 7px solid rgb(238, 202, 0);
        border-radius: 7px;
    }
    
    .border-right:after {
        border-bottom: 7px solid rgb(238, 202, 0);
        border-right: 7px solid rgb(238, 202, 0);
        border-top: 7px solid rgb(238, 202, 0);
        border-radius: 7px;
    }
}

/* Tablet */

/* ADICIOANAR SLIDESHOW NO PROJETOS */
@media only screen
and (max-width: 1024px){
    /* SHOWCASE */
    .container-b {
        padding: 35vh 0;
    }

    /* Projetos */
    #projetos {
        width: 700px;
    }

    .row {
        padding: 70px 0;
    }

    .box {
        width: 700px;
        height: 700px;
    }

    .box img:hover {
        transform: none;
    }

    .box-1 {
        width: 100%;
        padding: 50px 0;
        height: 150px;
    }
    .box-img-1 {
        padding: 50px 0;
        width: 100%;
    }
    .box-2 {
        width: 100%;
        height: 150px;
    }

    .box-img-2 {
        width: 100%;
        padding: 50px 0;
        margin-bottom: 50px;
    }

    /* Sobre */

    #sobre {
        height: 600px;
    }

    .about {
        width: 800px;
        padding: 0 80px;
        font-size: 20px;
    }

    .about h1 {
        padding: 50px 120px 20px 80px;
        font-size: 42px;
    }

    .content {
        display: inline-block;
        width: 800px;
        padding: 0px 80px;
        text-align: justify;
    }

    .content p {
        padding: 0px 90px;
        font-size: 18px;
    }

    .border-left {
        width: 700px;
        position: relative;
        height: 200px;
    }
    
    .border-right {
        width: 700px;
        position: relative;
        height: 200px;
    }

    .border-left p {
        width: 100%;
        float: none;
        padding: 15px 120px;
        font-size: 20px;
        height: 290px;
    }
    
    .border-right p {
        float: none;
        width: 100%;
        padding: 15px 120px;
        font-size: 20px;
    }

    .border-left:after {
        content: '';
        position: absolute;
        bottom: -25%;
        left: 8%;
        top: -10%;
        width: 14%;
        border-bottom: 6px solid rgb(238, 202, 0);
        border-left: 6px solid rgb(238, 202, 0);
        border-top: 6px solid rgb(238, 202, 0);
        border-radius: 6px;
        height: 400px; 
    }
    
    .border-right:after {
        content: '';
        position: absolute;
        bottom: -25%;
        right: 8%;
        top: -10%;
        width: 14%;
        border-bottom: 6px solid rgb(238, 202, 0);
        border-right: 6px solid rgb(238, 202, 0);
        border-top: 6x solid rgb(238, 202, 0);
        border-radius: 6px;
    }

    /* FOOTER */
    footer {
        padding-top: 10px;
    }
}

@media only screen 
and (max-width: 820px){
    /* Showcase */
    .showcase {
        font-size: 38px;
        padding: 40vh 10vw;
    }

    .container-b {
        padding: 22vh 0;
    }

    .container-b a {
        padding: 50px;
    }

    .fa-angle-down {
        color: lightblue;
        width: 100px !important;
        height: 100px !important;
    }

    /* PROJETOS */
    #projetos {
        width: 520px;
    }

    .box {
        width: 520px;
        padding: 0;
        margin: 0 auto;
        height: 250px;
    }

    .box img:hover {
        width: 100%;
        transform: scale(1);
    }

    .box-1 {
        width: 100%;
        padding: 20px 0 0 0 ;
        margin-top: 0;
        height: 200px;
    }

    .box-2 {
        width: 100%;
        padding: 20px 0 0 0 ;
        margin-top: 30px;
        height: 200px;
    }

    .box-img-2 {
        width: 100%;
        margin-bottom: 100px;
    }
    /* sobre */

    #sobre {
        height: 700px;
        background-attachment: scroll;
    }
    .about {
        margin: auto;
        display: inline-block;
        width: 600px;
        padding: 0 180px;
        text-align: justify;
    }

    .about h1 {
        padding: 50px 120px 20px 80px;
        font-size: 42px;
    }

    .content {
        display: inline-block;
        width: 600px;
        padding: 0 80px;
        text-align: justify;
    }

    .content p {
        padding: 0 80px;
        font-size: 1.2rem;
    }

    .border-left {
        width: 500px;
        position: absolute;
        height: 280px;
        display: inline-block;
    }

    .border-right p {
        padding: 210px 80px 0 80px;
    }
    
    .border-right {
        width: 500px;
        position: absolute;
        height: 280px;
        display: inline-block;
    }

    .border-left:after {
        content: '';
        position: absolute;
        right: 20%;
        left: 9%;
        top: -10%;
        width: 80%;
        height: 30%;
        border-bottom: none;    
        border-right: 5px solid rgb(238, 202, 0);
        border-left: 5px solid rgb(238, 202, 0);
        border-top: 5px solid rgb(238, 202, 0);
        border-radius: 5px;
    }
    
    .border-right:after {
        content: '';
        position: absolute;
        left: 9%;
        bottom: 0;
        margin: 410px 0;
        width: 80%;
        height: 30%;
        border-top: none;
        border-bottom: 5px solid rgb(238, 202, 0);    
        border-right: 5px solid rgb(238, 202, 0);
        border-left: 5px solid rgb(238, 202, 0);
        border-radius: 5px;
    }

    footer li {
        padding: 0 20px;
    }
}

/* Phablet */
@media only screen 
and (max-height: 730px)
and (max-width: 600px){
    /* GLOBAL */
    .desktop {
        display: none;
    }

    .smart {
        display: block;
    }

    /* Header */
    .showcase {
        font-size: 28px;
        padding: 40vh 0;
    }

    .container-b {
        padding: 15vh 0;
    }

    .container-b a {
        padding: 50px;
    }

    .fa-angle-down {
        color: lightblue;
        width: 110px !important;
        height: 110px !important;
    }   

    /* Projetos */
    #projetos {
        width: 400px;
    }
    .row {
        padding: 50px 0px;
    }

    .box {
        width: 400px;
        padding: 0;
        margin: 40px auto;
        height: 580px;
    }

    .box img {
        width: 90%;
    }

    .box img:hover {
        transform: none;
    }

    .box-1 {
        width: 100%;
        padding: 20px 0 0 0 ;
        margin-top: 0;
        height: 200px;
    }

    .box-2 {
        width: 100%;
        padding: 20px 0 0 0 ;
        height: 200px;
    }

    .box-img-2 {
        width: 100%;
        margin-bottom: 100px;
    }

    /* Sobre */
    #sobre {
        height: 800px;
    }

    .about {
        display: inline-block;
        width: 450px;
        padding: 0 120px;
        text-align: justify;
    }

    .about h1 {
        padding: 50px 120px 20px 80px;
        font-size: 40px;
    }

    .content {
        width: 450px;
        padding: 0 80px;
    }

    .content p {
        padding: 0 60px;
        font-size: 1rem;
    }

    .border-left {
        width: 350px;
        position: absolute;
        height: 280px;
        display: inline-block;
    }

    .border-right p {
        padding-top: 230px;
    }
    
    .border-right {
        width: 350px;
        position: absolute;
        height: 280px;
        display: inline-block;
    }

    .border-left:after {
        content: '';
        position: absolute;
        right: 20%;
        left: 9%;
        top: -10%;
        width: 80%;
        height: 30%;
        border-bottom: none;    
        border-right: 5px solid rgb(238, 202, 0);
        border-left: 5px solid rgb(238, 202, 0);
        border-top: 5px solid rgb(238, 202, 0);
        border-radius: 5px;
    }
    
    .border-right:after {
        content: '';
        position: absolute;
        left: 9%;
        bottom: 0;
        margin-top: 450px;
        width: 80%;
        height: 30%;
        border-top: none;
        border-bottom: 5px solid rgb(238, 202, 0);    
        border-right: 5px solid rgb(238, 202, 0);
        border-left: 5px solid rgb(238, 202, 0);
        border-radius: 5px;
    }

    /* footer */
    footer .smart {
        padding: 10px;
    }

    .fa-envelope {
        width: 72px !important;
        height: 72px !important;
    }
    .fa-facebook-square {
        width: 72px !important;
        height: 72px !important;
    }
    .fa-linkedin {
        width: 72px !important;
        height: 72px !important;
    }
    .fa-github-square {
        width: 72px !important;
        height: 72px !important;
    }
}

/* extra small smartphone */
@media only screen 
and (max-height: 5200px)
and (max-width: 450px) {
    /* Header */
    .showcase {
        font-size: 24px;
        padding: 40vh 0;
    }

    .container-b {
        padding: 10vh;
    }

    .container-b a {
        padding: 50px;
    }

    .fa-angle-down {
        color: lightblue;
        width: 110px !important;
        height: 110px !important;
    }   

    /* Projetos */
    #projetos {
        width: 280px;
    }
    .row {
        padding: 50px 0px;
        
    }

    .box {
        width: 280px;
        padding: 0;
        margin: 40px auto;
        height: 500px;
    }

    .box img {
        width: 100%;
    }

    .box img:hover {
        width: 100%;
        box-shadow: none;
        transition: none;
        transform: none;
        cursor: pointer;
    }

    .box-1 {
        width: 100%;
        padding: 0px 0 0 0 ;
        margin-top: 0;
        height: 200px;
    }

    .box-img-1 {
        padding-top: 30px;
    }

    .box-2 {
        width: 100%;
        padding: 20px 0 0 0 ;
        height: 200px;
    }

    .box-img-2 {
        width: 100%;
        margin-bottom: 100px;
    }

    .soon {
        padding: 50px 0;
    }

    /* Sobre */
    #sobre {
        height: 800px;
    }

    .about {
        width: 400px;
        padding: 0 60px;
    }

    .about h1 {
        padding: 50px 120px 30px 80px;
        font-size: 42px;
    }

    .content {
        width: 400px;
        padding: 0 60px;
    }

    .content p {
        padding: 0;
        font-size: 1.1rem;
    }

    .border-left {
        width: 300px;
        height: 280px;
    }

    .border-right p {
        padding-top: 220px;
    }
    
    .border-right {
        width: 300px;
        height: 280px;
    }

    .border-left:after {
        left: -7%;
        top: -10%;
        width: 108%;
        border-right: 4px solid rgb(238, 202, 0);
        border-left: 4px solid rgb(238, 202, 0);
        border-top: 4px solid rgb(238, 202, 0);
        border-radius: 4px;
    }
    
    .border-right:after {
        left: -7%;
        margin-top: 420px;
        width: 108%;
        border-bottom: 4px solid rgb(238, 202, 0);    
        border-right: 4px solid rgb(238, 202, 0);
        border-left: 4px solid rgb(238, 202, 0);
        border-radius: 4px;
    }
}